<% unless user_signed_in? %>

<div class="center hero-unit">
<h1>Welcome to Techmakers!</h1>
<p>
	You've found the home page for the Internet of Things Marketplace!  
</p>

<p>
	This site enables "Makers" to create and fund connected devices.  
</p>

<p>
	A place where companies can sell their connected devices.  
</p>

<p>

	And, where consumers can learn about and buy connected devices. 
</p>

<p>
  <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</p>
</div>
<% end %>