<h1>About</h1>
<p>
	The 
  <%= link_to "IoT Marketplace Team", "https://venture-lab.org/venture13/teams/39872",:target => '_blank' %>
  has built the hub for all things related to the internet of things.  Inventors, Vendors and Consumers can find everything they need right here!  Find out more about this prototype by contacting members of the
  <%= link_to "IoT Marketplace Team", "https://venture-lab.org/venture13/teams/39872",:target => '_blank' %>
  .  This is our Stanford University Venture Lab Startup.
</p>
<br>
<p>
	<strong>
	Here are some scenarios of our typical users.
	</strong>
</p>	

<p>
	<strong>1) Maker (Inventor) - I need to crowdsource or crowdfund my connected device.  I want to reach a wider audience and be discovered.  “Techmakers” is the destination if you want to:</strong>
</p>
<p> -get feedback on a new connected device </p>
<p>-crowdsource the creation of a new connected device</p>
<p>-fund the creation of a new connected device</p>
<p>-find co-creators who can help build my device</p>

<br>

<p>
	<strong>2) Company (vendor) - We have a connected device that we want to sell and we want to reach a wider audience since “Techmakers” is the first Hub for connected devices, we are listing our products on Techmakers because we want to:</strong>
</p>

<p>-get discovered by vendors, retailers, and end users </p>
<p>-reach the connected generation</p>
<p>-want to educate the public about our connected devices</p>
<p>-find product testers worldwide for our new connected devices</p>

<br>

<p>
	<strong>3) Mass Market Consumer:  I am a member of the connected generation and I love all things connected.  “Techmakers” is the number one destination when I want to:</strong>
</p>
<p>-discover and purchase new connected devices </p>
<p>-vote and contribute to the creation of new connected devices</p>
<p>-fund the creation of new devices</p>
<p>-learn about new connected devices</p>






