<h1>About</h1>
<p>
	The 
  <%= link_to "IoT Marketplace Team", "https://venture-lab.org/venture13/teams/39872",:target => '_blank' %>
  has built the hub for all things related to the internet of things.  Inventors, Vendors and Consumers can find everything they need right here!  Find out more about this prototype by contacting members of the
  <%= link_to "IoT Marketplace Team", "https://venture-lab.org/venture13/teams/39872",:target => '_blank' %>
  .  This was our Stanford University Venture Lab Startup.
</p>